{
    "semi": true,
    "arrowParens": "always",
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120,
    "importOrder": ["<THIRD_PARTY_MODULES>", "^@/lib/(.*)$", "^@/components/(.*)$", "^[./]"],
    "importOrderSeparation": true
}
