# This is an example file
# You will need to create your own .env (or .env.[env]) file with the actual values

# General (required)
SANITY_STUDIO_API_DATASET=""
SANITY_STUDIO_API_PROJECT_ID=""
SANITY_STUDIO_PROJECT_NAME=""

# For preview
# Note that the site url should point to the website root
SANITY_STUDIO_NEXT_SITE_URL=http://localhost:3000/
SANITY_STUDIO_PREVIEW_TOKEN="«generate a long string»"